{% extends "admin/change_list.html" %} {% block pagination %}

<div id="content-statistics" style="padding-top: 3em">
  <h1>Statistics</h1>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    crossorigin="anonymous"
  ></script>
  <form id="filterForm">
    <div class="submit-row">
      <label for="user">Choose a user:</label>
      <select name="user" id="user"></select>
      <input id="load" class="button" type="button" value="Load" name="_load" />
    </div>
  </form>
  <script>
    $(document).ready(function () {
      $.ajax({
        url: "/datasource/chart/filter-options/heart_rate/", // TODO replace with common
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Load all the options
          jsonResponse.options.forEach((option) => {
            $("#user").append(new Option(option.label, option.id));
          });
          // Load data for the first option
          loadAllCharts($("#user").children().first().val());
        },
        error: () => console.log("Failed to fetch chart filter options!"),
      });
    });

    $("#load").on("click", (event) => {
      event.preventDefault();

      const user = $("#user").val();
      loadAllCharts(user);
    });

    function loadChart(chart, endpoint) {
      $.ajax({
        url: endpoint,
        type: "GET",
        dataType: "json",
        success: (jsonResponse) => {
          // Extract data from the response
          const title = jsonResponse.title;
          const serverData = jsonResponse.data;

          chart.options.title.text = title;
          chart.data = serverData;
          chart.update();
        },
        error: () =>
          console.log("Failed to fetch chart data from " + endpoint + "!"),
      });
    }

    function loadAllCharts(user) {
      loadChart(dataChart, `/datasource/chart/data/heart_rate/${user}/`); // TODO ditto
    }
  </script>
  <canvas id="dataChart"></canvas>
  <script>
    let dataCtx = document.getElementById("dataChart").getContext("2d");
    let dataChart = new Chart(dataCtx, {
      type: "line",
      options: {
        responsive: true,
        title: {
          display: true,
        },
        scales: {
          x: {
            type: "time",
            time: {},
          },
          y: {
            min: 0,
            max: 250,
          },
        },
      },
    });
  </script>
</div>
{% endblock %}
